*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* styling header */
header{
    width: 100%;
    height: 600px;
    background-color: #225EE9;
}
.container{
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
}
/* discord logo */
.logo{
    float: left;
}
/* styling navbar */
.navbar{
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
}
.ul-navbar{
    display: inline-block;
}
.li-navbar{
    padding: 0 20px;
    display: inline;
    font-size: 15px;
    color: white;
}
/* button style */
.button{
    padding: 15px 20px;
    margin: 0 10px;
    border-radius:30px;
    border: none;
    line-height: 20px;
}
.accedi{
    float: right;
}
/* jumbotron styling */
.jumbotron{
    width: 100%;
    height: 545px;
    background-size: cover;
    background-image: url("../img/jumbo.png");
}
.jumbotron-text{
    text-align: center;
    width: 60%;
    padding-top: 100px;
    margin: 0 auto;
    color: white;
    font-size: 30px;
}
h1{
    padding-bottom: 20px;
}
.jumbotron-p{
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 20px;
}
/* download mac styling button */
.mac{
    margin-right: 10px;
    font-size: 15px;
    vertical-align: middle;
    font-weight: bold;
}
/* down arrow */
.fa-long-arrow-alt-down{
    font-size: 20px;
    vertical-align: middle;
    padding: 0 10px;
}
/* browser button styling */
.browser{
    font-size: 15px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    background-color: rgb(35, 39, 42);
}
.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}
.title{
    width: 90%;
    font-size: 40px;
    font-weight: bold;
}
/* styling first section */
.firstsection.title{
    text-align: left;
}
.first-section{
    margin: 60px 0;
    width: 100%;
}
.firstsection-image{
    width: 50%;
    float: left;
    position: relative;
}
.firstsection{
    width: 25%;
    float: right;
    position: relative;
    margin: 30px 50px 0 0;
}
.firstsection.text{
    font-size: 20px;
}
/* styling second section */
.second-section{
    margin: 0 0 60px 0;
    width: 100%;
}
.secondsection-image{
    width: 50%;
    float: right;
    position: relative;
}
.secondsection.title{
    text-align: left;
    float: left;
}
.secondsection{
    width: 30%;
    float: left;
    position: relative;
    margin: 30px 0 0 0;
}
.secondsection.text{
    font-size: 20px;
}
/* footer */
footer{
    width: 100%;
    height: 600px;
    background-color: rgb(35, 39, 42);
}
/* styling the first section of the footer */
.footersection1{
    margin-top: 30px;
    border-bottom: 1px solid rgb(114, 137, 218);;
}
/* styling the first column */
.column-1{
    float: left;
    position: relative;
}
.footersection1 .title{
    color: rgb(114, 137, 218);
}
.flag-container{
    margin-top: 20px;
    line-height: 10px;
}
.ita-flag{
    vertical-align: middle;
    width: 20px;
}
.language{
    vertical-align: middle;
    color: white;
    margin-left: 2px;
}
.fa-angle-down{
    vertical-align: middle;
    color: white;
}
.social-container{
    margin-top: 10px;
    color: white;
}
.social-container i{
    padding: 10px;
}
/* styling all the other column */
.column-2{
    margin-right: 65px;
    float: left;
    position: relative;
    color: white;
}
.ul-column-2{
    list-style-type: none;
    margin-bottom: 20px;
}
.li-column-2-first{
    padding: 10px;
    color: rgb(114, 137, 218);
}
.li-column-2{
    padding: 10px;
}
/* styling the second section of the footer */
.footersection2{
    width: 100%;
    position: relative;
}
.footer-logo{
    position: absolute;
    top: 30px;
    left: 0;
}
.registrati{
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(114, 137, 218);
    position: absolute;
    top: 30px;
    right: 0;
}