*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}
/* styling header */
header{
    width: 100%;
    height: 600px;
    background-color: #225EE9;
}
.container{
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
}
/* discord logo */
.logo{
    float: left;
}
/* styling navbar */
.navbar{
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
}
ul{
    display: inline-block;
}
li{
    padding: 0 20px;
    display: inline;
    font-size: 15px;
    color: white;
}
/* button style */
.button{
    padding: 15px 20px;
    margin: 0 10px;
    border-radius:30px;
    border: none;
    line-height: 20px;
}
.accedi{
    float: right;
}
/* jumbotron styling */
.jumbotron{
    width: 100%;
    height: 545px;
    background-size: cover;
    background-image: url("../img/jumbo.png");
}
.jumbotron-text{
    text-align: center;
    width: 60%;
    padding-top: 100px;
    margin: 0 auto;
    color: white;
    font-size: 30px;
}
h1{
    padding-bottom: 20px;
}
.jumbotron-p{
    margin: 0 auto;
    max-width: 80%;
    margin-bottom: 20px;
}
/* download mac styling button */
.mac{
    margin-right: 10px;
    font-size: 15px;
    vertical-align: middle;
    font-weight: bold;
}
/* down arrow */
.fa-long-arrow-alt-down{
    font-size: 20px;
    vertical-align: middle;
    padding: 0 10px;
}
/* browser button styling */
.browser{
    font-size: 15px;
    vertical-align: middle;
    font-weight: bold;
    color: white;
    background-color: rgb(35, 39, 42);
}
.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}
.title{
    text-align: left;
}
.first-section{
    width: 100%;
    float: left;
}
.first-section-image{
    width: 50%;
    float: left;
    position: relative;
}
.firstsection{
    width: 50%;
    float: right;
    position: relative;
}